/* header */
header{
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav{
  position: absolute;
  top: 54px;
  width: 100%;
  background: black;
  padding: 20px 0;
  z-index: 0;
}

.header-content-links-container{
  display: flex;
  justify-content: space-evenly;
}

.header-content-links a{
  color: white;
}

.nav-border{
  position: absolute;
  bottom: 3px;
  width: 100%;
  color: white;
  background: white;
  margin: 0;
  height: 2px;  
}
/* end header */